@import 'partials';

body {
  font-size: 1rem;
  color: #74706c;
  background-color: #000;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.rune {
  color: #fab100;
}

.sort {
  margin-top: 3px;
  color: #bd8547;
}

.varies {
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #90ff00;
  color: #90ff00;
  padding: 0 4px;
  margin: 0 2px;
  line-height: 90%;

  &--old {
    border: 1px solid #a7a7ff;
    color: #a7a7ff;
  }
}
