// ========== Color variables ==========
:root {
  --color-bg: #000;
  --color-bg-overlay: rgba(0, 0, 0, 0.8);
  --color-text: #74706c;
  --color-text-inverse: #fff;
  --color-text-on-warning: #000;
  --color-rune: #fab100;
  --color-accent: #bd8547;
  --color-border: #bab197;
  --color-border-light: #e5e7eb;
  --color-border-dark: #24221c;
  --color-border-input: #8a8062;
  --color-title: #ecd2a8;
  --color-muted: #888;
  --color-success: #5cbd4b;
  --color-success-alt: #44aa44;
  --color-rotw: #af1bee;
  --color-link: #6e6eff;
  --color-danger: #ae2a1a;
  --color-notfound: #844;
  --color-complete-bg: #200000;
  --color-ladder-bg: #501008;
  --color-reworked-bg: rgba(0, 123, 255, 0.8);
  --color-warning-bg: rgba(255, 193, 7, 0.8);
  --color-filter-active-border: #ffc107cc;
  --color-filter-active-bg: #ffc107cc;
  --color-rune-active-border: #ffd100;
  --color-varies: #90ff00;
  --color-varies-old: #a7a7ff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

#app {
  max-width: 2560px;
}

html {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: var(--a-padding-x1);
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
  font-size: 1rem;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.rune {
  color: var(--color-rune);
}

.sort {
  margin-top: 3px;
  color: var(--color-accent);
}

.varies {
  padding: 0 4px;
  margin: 0 2px;
  font-size: 14px;
  line-height: 90%;
  color: var(--color-varies);
  border: 1px solid var(--color-varies);
  border-radius: 2px;

  &--old {
    color: var(--color-varies-old);
    border: 1px solid var(--color-varies-old);
  }
}
